html {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  position: relative;

  box-sizing: border-box;
  width: 100%;

  font: 16px "Avenir", Helvetica, Arial, sans-serif;
}
.page {
  display: flex;
  overflow: hidden;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;

  /* border: 2px solid red; */
}
.hidden {
  display: none;
}
.icon {
  overflow: hidden;

  width: 1em;
  height: 1em;

  vertical-align: -0.15em;

  fill: currentColor;
}
